.hero-catalog {
  height: 50vh;
  background: url("https://images.pexels.com/photos/1566837/pexels-photo-1566837.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center;
  background-size: cover;
}

.title-catalog {
  font-weight: 1000;
  font-size: 64px;
  text-align: center;
  color: #222;
}
