.hero-catalog {
  height: 80vh;
  background: url("../../../../assets//hero-catalog.jpg") no-repeat center;
  background-size: cover;
}

.title-catalog {
  font-weight: 1000;
  font-size: 64px;
  text-align: center;
  color: #fff;
}
