.hero-catalog {
  height: 50vh;
  background: url("../../../../assets/catalog-hero.jpg") no-repeat fixed center;
  background-size: cover;
}

.title-catalog {
  font-weight: 1000;
  font-size: 64px;
  text-align: center;
  color: #ffffff;
  text-shadow: 5px 5px 5px #000;
}
