/*! Categorias */
.img-categoria-card-cocina {
  max-width: 50px;
}

.categoria-card {
  border-bottom: 1px solid #ccc;
}

.border-marron {
  border: 2px solid #1b0800;
}

.table tbody tr {
  line-height: 40px;
}
