.onclick-container {
  cursor: pointer;
}

.onclick-container:hover {
  opacity: 0.9;
}

/*.slick-arrow {
  background-color: #333;
  height: 35px;
  width: 35px;
  border-radius: 100px;
}

.slick-arrow:hover {
  background-color: #333 !important;
}*/
