.img-landing,
.content-img-landing {
  border-radius: 10%;
  box-shadow: 0px 0px 5px 5px #ccc;
}

.content-img-landing {
  width: max-content;
  height: max-content;
  padding: 5px;
  margin: 5px;
}

.border-content-img-landing {
  border-radius: 10%;
  border: 2px solid #b68207;
  width: max-content;
  height: max-content;
}
