/* Carrito */
.modal-carrito {
  position: fixed;
  border: none;
  border-radius: 0%;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  outline: none;
}

.modal-carrito-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #33292770;
}

@media (min-width: 768px) {
  .modal-carrito {
    width: 35vw;
  }
}

.btn-carrito {
  position: fixed;
  background: #c8261b;
  color: #ffffff;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  bottom: 3.2%;
  right: 2%;
}

.btn-carrito:hover {
  background: #ad2118;
  color: #ffffff;
}

@media (min-width: 768px) {
  .btn-carrito {
    top: 3.2%;
    right: 2%;
  }
}

/*-----------------------------------------------------------------------------------*/
/* ProductoEnCarrito */
.producto-carrito {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.producto-carrito p,
.producto-carrito button {
  padding: 0;
  margin: 0;
}

.btn-quitar {
  color: red;
}

.btn-quitar:hover {
  color: #ad2118;
}

/* ModalCarrito */
.btn-terminar-pedido {
  background: #c8261b;
  color: #ffffff;
}

.btn-terminar-pedido:hover {
  background: #ad2118;
  color: #ffffff;
}

/* SliderCategorias */
.slider-categorias-container {
  background: #ffffff;
}

.onclick-container {
  cursor: pointer;
}

.onclick-container:hover {
  opacity: 0.9;
}

/*.slick-arrow {
  background-color: #333;
  height: 35px;
  width: 35px;
  border-radius: 100px;
}

.slick-arrow:hover {
  background-color: #333 !important;
}*/

/* SliderCardCategoria */
.text-slider-card {
  height: 30%;
  width: 100%;
  color: #ffffff;
  background: #00000099;
  font-size: 14px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: 768px) {
  .text-slider-card {
    font-size: 18px;
  }
}

/* ProductoCard */
.text-producto {
  font-size: 12px;
}

.card-product {
  cursor: pointer;
}

.card-product:hover {
  background: #f7f7f7;
}

/*-----------------------------------------------------------------------------------*/
/* Buscador */
.buscador-content {
  width: 80%;
}

@media (min-width: 768px) {
  .buscador-content {
    width: 50%;
  }
}

/*-----------------------------------------------------------------------------------*/
/* Modal producto */

.modal-producto {
  position: fixed;
  border: none;
  border-radius: 0%;
  padding: 2%;
  top: 0;
  left: 0;
  height: max-content;
  transform: translate(5%, 10%);
  width: 90vw;
  background: #ffffff;
  outline: none;
}

.modal-producto-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #33292770;
}

@media (min-width: 768px) {
  .modal-producto {
    width: 40%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}
