.btn-carrito {
  position: fixed;
  top: 5%;
  right: 2.5%;
  background: #ad2118;
  color: white;
}

.btn-carrito:hover {
  background: #c8261b;
  color: white;
}

/*-----------------------------------------------------------------------------------*/
/* ProductoEnCarrito */
.producto-carrito {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.producto-carrito p,
.producto-carrito button {
  padding: 0;
  margin: 0;
}

.btn-quitar {
  color: red;
}

.btn-quitar:hover {
  color: #ad2118;
}

/* ModalCarrito */
.btn-terminar-pedido {
  background: #c8261b;
  color: #ffffff;
}

.btn-terminar-pedido:hover {
  background: #ad2118;
  color: #ffffff;
}

/* SliderCategorias */
.onclick-container {
  cursor: pointer;
}

.onclick-container:hover {
  opacity: 0.9;
}

/*.slick-arrow {
  background-color: #333;
  height: 35px;
  width: 35px;
  border-radius: 100px;
}

.slick-arrow:hover {
  background-color: #333 !important;
}*/

/* SliderCardCategoria */
.text-slider-card {
  height: 40%;
  width: 100%;
  color: #ffffff;
  background: #00000099;
}

/* ProductoCard */
.text-producto {
  font-size: 12px;
}

.card-product {
  cursor: pointer;
  max-height: 110px;
}

.card-product:hover {
  background: #f7f7f7;
}
