/** Font */
.font-weight-200 {
  font-weight: 200;
}

.font-weight-600 {
  font-weight: 600;
}

/** Colors y backgroud */
.color-yellow {
  color: #fdbf50;
}

.color-orange {
  color: #ff724c;
}

.color-golden {
  color: #b68207;
}

.next-steps .fa-link {
  margin-right: 5px;
}

/** Fix for use only flexbox in content area */

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
