.search-content {
  height: 50px;
}

.btn-search {
  color: #fff;
  background-color: #b68207;
  border: none;
  border-radius: 0%;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-search:hover {
  background-color: #d49808;
  color: #fff;
}
